<!--========== Tarjeta de episodios =========-->
<div class="card bg-base-100 shadow-sm">
  <figure class="px-10 pt-10">
    <image-episode [episodeImage]="episodio().image_path"></image-episode>
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title font-montserrat text-accent text-lg cursor-pointer hover:underline">
      {{ episodio().name }}
    </h2>
    <h3><span class="font-bold">Episode</span> {{ episodio().episode_number }}</h3>
    <p>{{ episodio().synopsis | slice : 0 : 70 }}...</p>
    <div class="card-actions">
      <button class="btn btn-primary">Detalles</button>
    </div>
  </div>
</div>
