@if(locationResource.isLoading()) {
<div class="flex justify-center items-center h-screen">
  <span class="loading loading-spinner loading-lg"></span>
</div>
}

<!----- Personaje ----->

@if (locationResource.hasValue()) { @let location = locationResource.value();

<div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
  <!----- Imagen ----->
  <image-location [locationImage]="location" />

  <!----- Detalles ----->
  <div>
    <h2 class="text-2xl font-bold font-montserrat">
      {{ location.name }}
      <br />
    </h2>

    <h3><span class="font-bold">Town:</span> {{ location.town }}</h3>

    <div class="divider"></div>
    <p>{{ location.use }}</p>
  </div>
</div>
}
