<div class="card bg-base-100 shadow-sm">
  <figure class="px-10 pt-10">
    <img
      [src]="personaje().portrait_path | personajeImage"
      [alt]="personaje().name"
      class="rounded-xl"
    />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title font-montserrat text-accent text-lg">{{ personaje().name }}</h2>
    <p>{{ personaje().phrases | slice : 0 : 5 }}...</p>
    <div class="card-actions">
      <button class="btn btn-primary" [routerLink]="['/personaje/by', personaje().name]">
        Detalles
      </button>
    </div>
  </div>
</div>
