<div class="card bg-base-100 shadow-sm">
  <figure class="px-10 pt-10">
    <image-personaje [personaje]="personaje()" />
  </figure>
  <div class="card-body items-center text-center">
    <h2
      class="card-title font-montserrat text-accent text-lg cursor-pointer hover:underline"
      [routerLink]="['/personaje', personaje().id]"
    >
      {{ personaje().name }}
    </h2>
    <p>{{ personaje().phrases | slice : 0 : 5 }}...</p>
    <div class="card-actions">
      <button class="btn btn-primary" [routerLink]="['/personaje', personaje().id]">
        Detalles
      </button>
    </div>
  </div>
</div>
