<buscar-personaje (value)="onSearch($event)" />

<h1 class="text-2xl font-bold mt-4 mb-4">Los Simpson</h1>

@if (isLoading()) {
<div class="flex justify-center items-center my-10">
  <span class="loading loading-spinner loading-lg"></span>
</div>

} @if (!isLoading()) {
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
  @for (personaje of personajesFinales(); track personaje.id) {
  <tarjeta-personaje [personaje]="personaje" />
  }
</div>
}

<!--  PAGINACIÓN SOLO SI NO HAY BÚSQUEDA -->
@if (!isSearching()) {
<pagination
  [page]="personajeResource.value()?.pages ?? 1"
  [currentPage]="paginationService.currentPage()"
/>
}
